/* Variables */
:root {
  --white: #fff;
  --black: #262626;
  --dark-grey: #595959;
  --light-grey: #bbbbbb;
  --lightest-grey: #d9d9d9;

  --window-background: var(--black);
  --text-color: var(--white);
  --title-border-color: var(--dark-grey);
  --button-background: var(--black);
}

body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}
